In [61]:
import pandas as pd

In [62]:
#reading the csv with the world cities
world_cities = pd.read_csv("worldcities.csv")
world_cities.head()

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,Tōkyō,primary,37732000.0,1392685764
1,Jakarta,Jakarta,-6.1750,106.8275,Indonesia,ID,IDN,Jakarta,primary,33756000.0,1360771077
2,Delhi,Delhi,28.6100,77.2300,India,IN,IND,Delhi,admin,32226000.0,1356872604
3,Guangzhou,Guangzhou,23.1300,113.2600,China,CN,CHN,Guangdong,admin,26940000.0,1156237133
4,Mumbai,Mumbai,19.0761,72.8775,India,IN,IND,Mahārāshtra,admin,24973000.0,1356226629

In [63]:
#remove unnecessary columns, 
#Here the columns of I'm interested in is city, lat, long and population

world_cities.drop(['city_ascii', 'country', 'iso2', 'iso3', 'admin_name', 'capital', 'population', 'id'], axis=1, inplace=True)

world_cities.head()

        city      lat       lng
0      Tokyo  35.6897  139.6922
1    Jakarta  -6.1750  106.8275
2      Delhi  28.6100   77.2300
3  Guangzhou  23.1300  113.2600
4     Mumbai  19.0761   72.8775

In [64]:
world_cities.count()

city    44691
lat     44691
lng     44691
dtype: int64

In [65]:
ixps = pd.read_csv('afix-ixp-list.csv')

ixps.head()

,Full name,Short name,Country,City,Website,Launched,Active,Record last updated
0,Angola-IXP,ANG-IXP,Angola,Luanda,http://www.angola-ixp.ao/,2006,Yes,"Saturday, November 5, 2016 - 12:44"
1,Angonix,Angonix,Angola,Luanda,https://www.angonix.net,2015,Yes,"Wednesday, October 18, 2017 - 04:51"
2,Benin IX,BENINIX,Benin,Cotonou,http://www.benin-ix.org.bj,2013,Yes,"Friday, November 4, 2016 - 23:46"
3,Botswana Internet Exchange,BIXP,Botswana,Gaborone,http://www.binx.org.bw/,2005,Yes,"Friday, November 4, 2016 - 23:55"
4,Burkina Faso Internet Exchange Point,BFIX,Burkina Faso,Ouagadougou,http://www.bfix.bf/,2015,Yes,"Friday, November 4, 2016 - 23:07"

Our interest here is on only the african cities so we have to select only african countries

In [66]:
##A List of african countries

cities = ixps['City']
#africa_countries = ['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cameroon', 'Central African Republic', 'Chad', 'Comoros', 'Congo', "Cote d'Ivoire", 'Democratic Republic of the Congo', 'Djibouti', 'Egypt', 'Equatorial Guinea', 'Eritrea', 'Eswatini', 'Ethiopia', 'Gabon', 'Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa', 'South Sudan', 'Sudan', 'Tanzania', 'Togo', 'Tunisia', 'Uganda', 'Zambia', 'Zimbabwe']

africa_cities = world_cities[world_cities['city'].isin(cities)]

africa_cities.head()

            city      lat      lng
10         Cairo  30.0444  31.2358
19         Lagos   6.4550   3.3841
27      Kinshasa  -4.3250  15.3222
49        Luanda  -8.8383  13.2344
62  Johannesburg -26.2044  28.0456

In [75]:
##Reset the index 
africa_cities = africa_cities.reset_index(drop=True)
africa_cities

             city      lat       lng
0           Cairo  30.0444   31.2358
1           Lagos   6.4550    3.3841
2        Kinshasa  -4.3250   15.3222
3          Luanda  -8.8383   13.2344
4    Johannesburg -26.2044   28.0456
5   Dar es Salaam  -6.8161   39.2803
6        Khartoum  15.5006   32.5600
7          Douala   4.0500    9.7000
8         Nairobi  -1.2864   36.8172
9         Abidjan   5.3167   -4.0333
10      Mogadishu   2.0392   45.3419
11          Abuja   9.0667    7.4833
12   Antananarivo -18.9333   47.5167
13         Lusaka -15.4167   28.2833
14    Ouagadougou  12.3686   -1.5275
15        Yaoundé   3.8667   11.5167
16          Accra   5.5500   -0.2000
17         Harare -17.8292   31.0522
18         Bamako  12.6458   -7.9922
19       Blantyre -15.7861   35.0058
20  Port Harcourt   4.8242    7.0336
21    Brazzaville  -4.2694   15.2714
22     Lubumbashi -11.6647   27.4794
23        Kampala   0.3136   32.5811
24        Conakry   9.5092  -13.7122
25          Dakar  14.6928  -17.4467
26        Mombasa  -4.0500   39.6667
27         Maputo -25.9667   32.5833
28         Kigali  -1.9536   30.0606
29      Bujumbura  -3.3833   29.3667
30          Tunis  36.8064   10.1817
31       Monrovia   6.3133  -10.8014
32     Libreville   0.3903    9.4542
33        Cotonou   6.3667    2.4333
34       Djibouti  11.5883   43.1450
35         Maseru -29.3100   27.4800
36      Cape Town -33.9253   18.4239
37       Windhoek -22.5700   17.0836
38       Gaborone -24.6581   25.9122
39         Mwanza  -2.5167   32.9000
40         Durban -29.8833   31.0500
41         Arusha  -3.3667   36.6833
42      Serekunda  13.4333  -16.6667
43           Goma  -1.6794   29.2336
44       Zanzibar  -6.1650   39.1990
45         Mwanza -15.5986   34.5178
46       Monrovia  34.1650 -117.9921
47          Lagos  37.1028   -8.6728
48          Cairo  30.8790  -84.2050

In [68]:


#afcities = africa_cities['country', 'city', 'lat', 'lng']

In [69]:
citiylist = africa_cities['city']

In [70]:
for i in citiylist:
    print(i)

Cairo
Lagos
Kinshasa
Luanda
Johannesburg
Dar es Salaam
Khartoum
Douala
Nairobi
Abidjan
Mogadishu
Abuja
Antananarivo
Lusaka
Ouagadougou
Yaoundé
Accra
Harare
Bamako
Blantyre
Port Harcourt
Brazzaville
Lubumbashi
Kampala
Conakry
Dakar
Mombasa
Maputo
Kigali
Bujumbura
Tunis
Monrovia
Libreville
Cotonou
Djibouti
Maseru
Cape Town
Windhoek
Gaborone
Mwanza
Durban
Arusha
Serekunda
Goma
Zanzibar
Mwanza
Monrovia
Lagos
Cairo

In [71]:
##saving the african cities as a csv
africa_cities.to_csv('africa_cities.csv')

In [72]:
africa_cities.count()

city    49
lat     49
lng     49
dtype: int64

The cities are still too many to work with, so let's reduce the number to around 200 by clustering. KMeans was used which is a clustering library by sklearn

In [73]:
from sklearn.cluster import KMeans

In [74]:
## the latitude and longitude of the cities will be the one used for the clustering

X = africa_cities[['lat', 'lng']]

# num_clusters defines the number of clusters to be created using the KMeans algorithm
num_clusters = 200

kmeans = KMeans(n_clusters=num_clusters) 

kmeans.fit(X)

#getting the labels for each cluster, the clusters are from 0-199
cluster_labels = kmeans.labels_

##adding the cluster column to the africa_cities dataframe
africa_cities['cluster'] = cluster_labels

ValueError: n_samples=49 should be >= n_clusters=200.

In [ ]:
africa_cities.head()

            city      lat      lng       country  population  cluster
0          Cairo  30.0444  31.2358         Egypt  20296000.0      189
1          Lagos   6.4550   3.3841       Nigeria  16637000.0        2
2         Luanda  -8.8383  13.2344        Angola   9051000.0      155
3   Johannesburg -26.2044  28.0456  South Africa   8000000.0       69
4  Dar es Salaam  -6.8161  39.2803      Tanzania   7962000.0        1

In [ ]:
##Now let's select the most populated place in each of the cluster that will be used as our target area
def populated_target(clusters):
    max_population = clusters['population'].idxmax()
    return clusters.loc[max_population]

In [ ]:
target_points = []

for cluster in range(num_clusters):
    clusters = africa_cities[africa_cities['cluster'] == cluster]
    most_populated = populated_target(clusters)
    target_points.append(most_populated)
    
target_points = pd.DataFrame(target_points)

In [ ]:
target_points = target_points.reset_index(drop=True)
target_points.head(20)

,city,lat,lng,country,population,cluster
0,Tunis,36.8064,10.1817,Tunisia,1056247.0,0
1,Dar es Salaam,-6.8161,39.2803,Tanzania,7962000.0,1
2,Lagos,6.4550,3.3841,Nigeria,16637000.0,2
3,Vangaindrano,-23.3500,47.6000,Madagascar,38537.0,3
4,Kouribga,32.8833,-6.9167,Morocco,196196.0,4
5,Port Said,31.2625,32.3061,Egypt,524433.0,5
6,Francistown,-21.1736,27.5125,Botswana,103417.0,6
7,Bor,6.2125,31.5608,South Sudan,315351.0,7
8,Mamou,10.3833,-12.0833,Guinea,376269.0,8
9,Huambo,-12.7767,15.7347,Angola,665564.0,9
10,Mambéré,5.5000,15.5000,Central African Republic,233666.0,10
11,Kampala,0.3136,32.5811,Uganda,1680600.0,11
12,Antsiranana,-12.3000,49.2833,Madagascar,129320.0,12
13,Garoowe,8.4000,48.4667,Somalia,385000.0,13
14,Gaborone,-24.6581,25.9122,Botswana,231626.0,14
15,Koudougou,12.2500,-2.3667,Burkina Faso,160207.0,15
16,Antananarivo,-18.9333,47.5167,Madagascar,2610000.0,16
17,Asmara,15.3228,38.9250,Eritrea,963000.0,17
18,Algiers,36.7539,3.0589,Algeria,3415811.0,18
19,Baardheere,2.3333,42.2833,Somalia,755500.0,19

In [ ]:
target_points.to_csv('targets.csv')